@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: #000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.calc-parent {
    margin-left: calc(50% - 125px);
    margin-top: 50px;
}

.calc-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    font-weight: 100px;
    padding-top: 3px;
    font-size: 32px;
}

#calc-eight {
    padding-top: 2px;
}

.calc-btn:hover {
    background-color: orange;
    opacity: .5;

}

.row {
    display: table;
    table-layout: fixed;
    width: 250px;

}

.column {
    display: table-cell;
}

#calc-zero {
    width: 52.5px;
}

#calc-clear {
    width: 52.5px;
}

#calc-display {
    height: 70px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    border-radius: 7px 7px 0 0 ;
    font-size: 44px;
}


.calc-operator {
    background-color: orange;
    color: white;
}

.calc-operator:hover {
    background-color: silver;
    opacity: .5;
}

#calc-equal {
    border-radius: 0 0 7px 0;
}

#calc-zero {
    border-radius: 0 0 0 7px;

}